<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>913</integer>
	<key>capHeight</key>
	<integer>649</integer>
	<key>descender</key>
	<integer>-251</integer>
	<key>familyName</key>
	<string>Karmilla</string>
	<key>openTypeHeadCreated</key>
	<string>2015/10/07 14:23:44</string>
	<key>openTypeHheaAscender</key>
	<integer>913</integer>
	<key>openTypeHheaDescender</key>
	<integer>-251</integer>
	<key>openTypeHheaLineGap</key>
	<integer>25</integer>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Karmilla</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>913</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-251</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>50</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>913</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-251</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>486</integer>
		<integer>499</integer>
		<integer>649</integer>
		<integer>660</integer>
		<integer>683</integer>
		<integer>694</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Karla-Regular</string>
	<key>postscriptFullName</key>
	<string>Karla</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-251</integer>
		<integer>-237</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleMapFamilyName</key>
	<string>Karla</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>486</integer>
</dict>
</plist>
